html, body{ padding:0;
    scroll-behavior: smooth;
}

/*Überschriften*/
h2{text-align: center ;color:black ;width: 100%;margin-bottom: 15px;font-size: 3rem}
h3{font-size: 2.5rem; -moz-hyphens: auto;
    -o-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }

h4{color: black;text-align: left;font-size: 2rem}
h5{color: white;text-align: center;font-size: 1.75rem}
li a:hover{opacity: .7;text-decoration: none}
.no-padding{padding:0 !important;}
.margin-bottom{margin-bottom: 30px !important;}
.o-hidden{overflow: hidden}
.float-r{float: right}
.text-c{text-align: center}
.d-block{display: block}


.carousel-inner{margin: 0}
.right,.left,.down{width: 30px;height: 30px;transition: .5s;box-shadow: -2px 2px rgb(255,255,255);cursor: pointer}
.left{transform: rotate(45deg);}
.right{transform: rotate(225deg);}
.down{transform: rotate(-45deg);display: inline-block;width: 20px;height: 20px;box-shadow: -4px 4px rgb(255,255,255)}
.carousel-control-next, .carousel-control-prev{opacity: 1}
p,h1,h2,h3,h4,h5,h6,li,label{font-family: 'Poppins', sans-serif;}

/*.page-home .verein .col-md-6:hover a figcaption{padding-left: 50px !important;transition: 300ms all}*/
/*.page-home .mannschaften .col-md-12:hover a figcaption{padding-left: 50px !important;transition: 300ms all}*/

.cc-revoke {
    display: none !important;
}


/*Pagination News*/
.pagi ul{text-align: center;padding: 0}

.pagi ul li{display: inline-block;margin: 20px}

.pagi ul li a{color: #0A246A}

/*Overlay*/

#ud_lightbox_overlay {
    position: fixed;
    z-index: 10000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    display: none;
    overflow: hidden;
}
#ud_lightbox_overlay #ud_lightbox_inhalt {
    width: 90%;
    position: absolute;
    left: 5%;
    right: 5%;
}
#ud_lightbox_overlay #ud_lightbox_inhalt img {
    width: 100%;
    height: auto;
}
#ud_lightbox_overlay #ud_lightbox_inhalt #ud_nav {
    color: #ffffff;
    font-size: 30px;
    margin: 0 0 20px 0;
    width: 100%;
    text-align: center;
}

#ud_lightbox_overlay #ud_lightbox_inhalt #ud_nav span {
    cursor: pointer;
    float: right;
}

/*Buttons*/
.btn {border-radius:unset;padding: 10px 30px; }
.btn-primary{background-color: white; color:#0A246A ;margin-top: 20px;border-color:#0A246A  }
.btn-primary:hover{background-color: white; }

.btn-secondary{background-color: transparent; color:white ;margin-top: 20px;border-color:white  }
.btn-secondary:hover{background-color: transparent; border-color: white}


.btn-primary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn-primary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0A246A;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    color: white;
}
.btn-primary:hover:before, .btn-primary:focus:before, .btn-primary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.btn-secondary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.btn-secondary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
    color: #0A246A;
}
.btn-secondary:hover:before, .btn-secondary:focus:before, .btn-secondary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}
.margin-button{text-align: center}
.buttonbox{text-align: center}




.figcaption{
    position: absolute;bottom: 30px;
    z-index: 6; ; padding: 20px 35px !important; background-color: rgba(10,36,106,.8)}
a:hover .figcaption{padding-left: 50px !important;transition: 300ms all}


.page-home .news img{aspect-ratio: 16/9; object-fit: cover; object-position: center; width: 100%}

.page-home .news .btn-secondary{background-color: white; color:#0A246A ;margin-top: 20px;border-color:#0A246A  }
.page-home .news .btn-secondary:hover{background-color: white; }


.page-home .news .btn-secondary {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.page-home .news .btn-secondary:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0A246A;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.page-home .news .btn-secondary:hover, .page-home .news .btn-secondary:focus, .page-home .news .btn-secondary:active {
    color: white;
}
.page-home .news .btn-secondary:hover:before, .page-home .news .btn-secondary:focus:before, .page-home .news .btn-secondary:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}


.news a , .page-article a  { 
    color: #0A246A;
    font-weight: 900
}



.news ul li::marker , .page-article ul li::marker  { 
    content: '- ';
    color: #0A246A;
}




/*Logo*/
.logo{left: 5%;top:20px;position: absolute}

section{position: relative ;}

/*###############################################*/
/*Hamburger*/
/*###############################################*/
.ud_menu_icon { position: fixed;float:right;right: 5%;top:20px;width:115px;height:45px;overflow: hidden; margin: 0; padding: 0; appearance: none; box-shadow: none; border: none; cursor: pointer; transition: background 0.3s; background-color:transparent;z-index: 5000000}
.ud_menu_icon:focus { outline: none;}
.ud_menu_icon span { display: block; position: absolute; top:15px; right:0; height: 4px; width:35px;background:black;}
.ud_menu_icon span:before, .ud_menu_icon span:after { position: absolute; display: block; left: 0; width: 35px;; height:4px; background-color: black; content: "";}
.ud_menu_icon span:before { top: -11px;}
.ud_menu_icon span:after { bottom: -11px;}

.ud_menu_icon-X span { transition: background 0s 0.3s;}
.ud_menu_icon-X span:before, .ud_menu_icon-X span:after { transition-duration: 0.3s, 0.3s; transition-delay: 0.3s, 0s;}
.ud_menu_icon-X span:before { transition-property: top, transform;}
.ud_menu_icon-X span:after { transition-property: bottom, transform;}

.ud_menu_icon-X.is-active span { background: none;}
.ud_menu_icon-X.is-active span:before { top: 0; transform: rotate(45deg);}
.ud_menu_icon-X.is-active span:after { bottom: 0; transform: rotate(-45deg);}
.ud_menu_icon-X.is-active span:before, .ud_menu_icon-X.is-active span:after { transition-delay: 0s, 0.3s;}
.ud_menu_icon p{display: inline-block;width: 45px;left: 15px;position:absolute;top: 0px;font-size: 1.3rem;font-weight: bolder;}
.navigation{position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;z-index: 100;  background: linear-gradient(rgba(0,0,0,.4),transparent);  }

.navigation .col-md-6{text-align: center}
/*###############################################*/
/*Desktop Menü*/
/*###############################################*/
.burgermenu{
    height: 100vh;
    left: 0;
    top: 0;
    width: 0%;
    position: fixed;
    background-color: transparent;
    visibility: hidden;
    transition:  opacity .35s,visibility .35s,width .35s;;
    z-index: 5;
    opacity: 0;
    overflow: hidden;
;


}
.burgermenu.is-active {
    width: 100%;
    visibility: visible;
    opacity: 1;}
.burgermenu .burger-logo{position: absolute;top: 20px;}
.burgermenu .col-md-6{padding: 0;}
.burgermenu .col-md-6{padding: 0;background-image: url("../../content/pyramide.jpg");background-size: cover;background-position: center center;}
.burgermenu .col-md-4{padding: 0;}

.burgermenu .col-lg-4{padding: 0;}
.burgermenu .col-lg-8{padding: 0;background-image: url("../../content/pyramide.jpg");background-size: cover;background-position: center center;}

.burgermenu .bg-color{background-color: #0A246A;height: 100vh;position: relative;    padding-left: 20%;
}
.burgermenu .ul1{list-style: none;
    padding: 5% 0%;
    padding-right: 0;
    width: 100%;}
.burgermenu .depth-1{margin: 30px 0px;font-size: 2.7rem;text-align: left;}
.burgermenu .depth-1 a{color: white !important}

.burgermenu .ul2{    list-style: none;
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
}
.burgermenu .depth-2{font-size: 2.7rem;}

.burgermenu .bg-color2:hover {visibility: visible}
.burgermenu .bg-color2:active {visibility: visible}
.burgermenu .bg-color2{position: absolute;left:100%;background-color: rgba(10,36,106,.8);height: 100vh;padding: 70px;visibility: hidden ;top:0;z-index: 5;width: 120%}
.burgermenu .depth-1:hover .bg-color2{visibility: visible;}
.burgermenu .depth-1:active .bg-color2{visibility: visible;}
.burgermenu .depth-1 a:hover .bg-color2{visibility: visible;cursor: pointer}
.burgermenu .depth-1 a:active .bg-color2{visibility: visible;}
/*###############################################*/
/*Mobile Menü*/
/*###############################################*/

.mobile-nav{
    width: 100%;
    top: 100px;
    background-color: transparent;
    display: none;
    transition: all 500ms;
    z-index: 5;
    position: fixed;
}

.mobile-nav li{
    list-style: none;
    position: relative;
    float: left;
    width: 100%;max-width:100%;}

.mobile-nav .container-fluid{padding: 0}
.mobile-nav .dropdown-menu{position: relative !important;transform: none !important}
.mobile-nav ul{position: absolute;width:100%;max-width: 100% !important;padding: 0}
.mobile-nav ul .depth-1{padding: 8px 0px;border-bottom: white 1px solid;margin: 0 !important}
.mobile-nav .ul1{background-color: rgb(10,36,106);}
.mobile-nav .ul2{position: relative ;background-color:rgba(15,39,110,.8);padding-left: 0 ;border: transparent}
.mobile-nav .ul2 .depth-2{padding-left: 50px;padding-top: 5px;padding-bottom: 5px}
.mobile-nav a button{color:white;font-size:1.4rem}
.mobile-nav .ul2 a{color: white ;font-size:1.2rem }
.mobile-nav button {background: transparent;
    border: none;    width: 80%;
    text-align: left;cursor: pointer}
.mobile-nav .dropdown-toggle {color: white;    position: absolute;
    right: 20px;font-size:1.4rem;width: 15%;text-align: center;padding: 0;
}

/*###############################################*/
/*header Bild*/
/*###############################################*/


.header-bild{width: 100%;overflow: hidden;padding: 0 !important;margin-bottom: 0}
.header-bild figure{margin-bottom: 0}
.header-bild img{width: 100%;height: auto;object-fit: cover;aspect-ratio: 21/9; object-position: center}
.header-bild .figcaption{max-width: 100%; bottom: 10%;}
.header-bild h1{margin-bottom: 0;font-size: 4rem;color: white}
.header-bild .scrolldown{z-index: 2;position: absolute;bottom: 2%;width: 100%;max-width: 100% !important}
.header-bild .scrolldown .col-md-12{text-align: center;height: auto}
.header-bild .scrolldown .col-md-12 button{background: transparent; border: none}
.header-bild .scrolldown .col-md-12 img{width: 80px}



/*###############################################*//*###############################################*//*###############################################*/
/*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*//*Startseite*/
/*###############################################*//*###############################################*//*###############################################*/
/*.page-home section{padding: 30px}*/
.page-home .header-bild{margin-bottom: 60px;}
    /*###############################################*/
/*News*/
/*###############################################*/
.page-home .news h2{ color:black; }
.page-home .news{ padding: 30px 0px;}
.blau{border-top: 3px solid #0A246A;width: 150px;margin-bottom: 60px}
.page-home .news .bg{background-color: white !important;color: black;padding: 0}
.page-home .news .bg h4{
    color: black !important;}
.page-home .news .post hr{
    border-top: 1px solid black !important;
}

.page-home .news .post {
    margin-bottom: 60px;
}
/*###############################################*/
/*CountUp*/
/*###############################################*/

.page-home .countup {color: white;padding: 80px 0;margin-top: 0 !important ;background-image: url("../../content/slide2.jpg");background-size: cover;background-position: center center;background-attachment: fixed;margin-bottom: 30px}
.page-home .countup .col-lg-3{text-align: center;background-color: rgba(10,36,106,.8);padding-top: 100px;padding-bottom: 100px}
.page-home .countup .row .col-lg-3:nth-child(even){
    margin: 0px 100px;
}
.page-home .countup h3{text-transform: uppercase}
/*###############################################*/
/*Verein*/
/*###############################################*/
.page-home .verein{background-color: #0A246A;padding: 60px 0px;}
.page-home .verein h2{color: white}
.schwarz{border-top: 3px solid black;width: 150px;margin-bottom: 60px}


.page-home .verein img{width: 100%; aspect-ratio: 21/9; object-fit: cover}
/*.page-home .verein .figcaption{*/
/*    position: absolute;bottom: 30px;*/
/*    z-index: 6; ; padding: 20px 35px !important; background-color: rgba(10,36,106,.8)}*/
.page-home .verein .figcaption h5{font-size: 2.2rem;margin: 0 !important}

/*###############################################*/
/*Mannschaften*/
/*###############################################*/
/*.page-home .mannschaften {padding: 30px 0;}*/
.page-home .mannschaften img{aspect-ratio: 21/9; object-fit: cover; width: 100%}
.page-home .mannschaften figure{
    position: relative;}

/*.page-home .mannschaften .figcaption{*/
/*    position: absolute;bottom: 30px;*/
/*    z-index: 6; ; padding: 20px 35px !important; background-color: rgba(10,36,106,.8)}*/
.page-home .mannschaften .figcaption h5{font-size: 3rem;margin: 0 !important}


/*###############################################*/
/*Kontakt*/
/*###############################################*/
.page-home .kontakt {padding-left: 0;padding-right: 0}
.page-home .kontakt .container-fluid{overflow-x: hidden}

    /*###############################################*/
/*footer*/
/*###############################################*/
footer{min-height:200px;background-image: url("../../content/panorama.jpg");background-repeat:no-repeat;background-size: cover;background-position:center;width: 100%;
    color: white;
    position: relative;
    max-width: 1920px;
    bottom: 0 !important;


}
footer .impressum-datenschutz{padding: 0}
footer .overlay-bg{width: 100%;height: 100%;background: rgba(10,16,106,.6)}
footer ul {list-style-type: none;}
footer .sitemap {list-style: none;display: inline-block}
footer .sitemap  li ul{list-style: none;display: block}
footer h4{
    color: white;text-align: center}
footer .container{min-height: 200px}
footer .container .row{min-height: 200px}
footer .container img{margin: 0; -webkit-filter: grayscale(100%);}
footer .container img:hover{-webkit-filter: grayscale(0%); transition: 400ms all }

footer .col-md-12{padding: 10px 0px;border-top:1px solid white;}
footer .col-md-12 li{list-style: none}
footer .col-md-12 a{float: right}

footer a{color: white}
footer a:hover{color: white;text-decoration: none}


/*###############################################*/
/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*###############################################*/



/*###############################################*//*###############################################*//*###############################################*/
/*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*//*page-news*/
/*###############################################*//*###############################################*//*###############################################*/
.page-news .news {;padding-top: 90px}
.page-news .news .row{margin-bottom: 20px}
.page-news .news article{padding-top: 5%;
    padding-bottom: 5%;}
.page-news .news .bg {
    background-color: #0A246A;
    color: white;


}
.page-news .news .bg h4{
    color: white ;  -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}
.page-news .news h4{
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.page-news .news hr{
    border-top: 1px solid black;
}
.page-news .news .bg hr{
    border-top: 1px solid white;
}
.page-news .news img{aspect-ratio: 16/9; object-fit: cover; object-position: center; width: 100%}

/*###############################################*//*###############################################*//*###############################################*/
/*page-article*//*page-article*//*page-article*//*page-article*//*page-article*//*page-article*//*page-article*//*page-article*//*page-article*/
/*###############################################*//*###############################################*//*###############################################*/

.page-article{
margin-bottom: auto;

}
.page-article img{width: 100%;height: auto;object-fit: cover;aspect-ratio: 16/9; object-position: center}
.page-article .main{margin-top: 150px}
.page-article h1{margin-bottom: 30px}
.page-article .pseudo{height: 300px}
.page-article .buttonbox{margin-bottom: 30px}
    /*###############################################*//*###############################################*//*###############################################*/
/*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*//*Impressum*/
/*###############################################*//*###############################################*//*###############################################*/
.page-impressum .impressum .col-md-12,.page-datenschutz .impressum .col-md-12{ margin-top: 130px}
.page-impressum h2{font-size: 2rem;text-align: left}
.page-impressum h3{font-size: 1.3rem;text-align: left}

.page-datenschutz h2{font-size: 2rem;text-align: left}
.page-datenschutz h3{font-size: 1.3rem;text-align: left}
/*###############################################*//*###############################################*//*###############################################*/
/*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*//*Geschichte*/
/*###############################################*//*###############################################*//*###############################################*/

.page-geschichte .geschichte .bg {
    background-color: #0A246A;
    color: white;
}
.page-geschichte .geschichte .container{padding-top: 7%;padding-bottom: 7%;overflow: hidden}
.page-geschichte .geschichte article img{float: left;width: 50%;margin: 15px}
.page-geschichte .geschichte .bg img{float: right;width: 50%;margin: 15px}


 .anker-nav{position: sticky;background-color:rgba(10,36,106,.9);
 ;padding: 15px;
    top: 0;
    z-index: 5;}
 .anker-nav ul{margin: auto;padding: 0}
 .anker-nav ul li{list-style:none;
    padding: 10px;display: inline-block}

 .anker-nav ul li a{padding: 10px;
    color: white;}
 .anker-nav ul li .ud_menu_aktive{border-bottom: white 1px solid}

/*###############################################*//*###############################################*//*###############################################*/
/*page-verein*//*page-verein*//*page-verein*//*page-verein*//*page-verein*//*page-verein*//*page-verein*/
/*###############################################*//*###############################################*//*###############################################*/
.page-verein .verein{margin-top: 20px}
.page-verein .jugendleitfaden{padding: 20px 0;}
.page-verein .jugendleitfaden li a{color: #0A246A; }
.page-verein .jugendleitfaden li::marker{content: '- ';
    color: #0A246A; }


.page-verein .verein img{width: 100%; aspect-ratio: 21/9; object-fit: cover}
/*.page-verein .verein .figcaption{*/
/*    position: absolute;bottom: 30px;*/
/*    z-index: 6; ; padding: 20px 35px !important; background-color: rgba(10,36,106,.8)}*/
.page-verein .verein .figcaption h5{font-size: 2.2rem;margin: 0 !important}

/*###############################################*//*###############################################*//*###############################################*/
/*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*/
/*###############################################*//*###############################################*//*###############################################*/

.page-vorstandschaft .bg {background-color: #0A246A;color: white}

.page-vorstandschaft .col-md-8 ul{list-style: none}
.page-vorstandschaft .col-md-8 div{max-width: 100%}
.page-vorstandschaft .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;word-wrap: break-word;}
.page-vorstandschaft .col-md-8 ul li:before{content: '//';color: #0A246A;margin-right: 20px}
.page-vorstandschaft .bg .col-md-8 ul li:before{content: '//';color: black}
.page-vorstandschaft .col-md-8 ul li a{color: black}
.page-vorstandschaft .bg .col-md-8 ul li a{color: white}
.page-vorstandschaft  .col-md-8 ul li a:hover{opacity: .7}
.page-vorstandschaft .col-md-8 hr{display: inline-block;
    width: 100%;margin-bottom: 30px}

.page-vorstandschaft article {padding-top: 5%;padding-bottom: 5%}
/*###############################################*//*###############################################*//*###############################################*/
/*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*/
/*###############################################*//*###############################################*//*###############################################*/
.page-schiedsrichter .bg {background-color: #0A246A;color: white}

.page-schiedsrichter .col-md-8 div{max-width: 100%}
.page-schiedsrichter .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;word-wrap: break-word;}
.page-schiedsrichter .col-md-8 ul{list-style: none;overflow: hidden}
.page-schiedsrichter .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;}
.page-schiedsrichter .col-md-8 ul li:before{content: '//';color: #0A246A;margin-right: 20px}
.page-schiedsrichter .bg .col-md-8 ul li:before{content: '//';color: black}
.page-schiedsrichter .col-md-8 ul li a{color: black}
.page-schiedsrichter .bg .col-md-8 ul li a{color: white}
.page-schiedsrichter  .col-md-8 ul li a:hover{opacity: .7}
.page-schiedsrichter .col-md-8 hr{display: inline-block;
    width: 100%;margin-bottom: 30px}

.page-schiedsrichter article {padding-top: 5%;padding-bottom: 5%}

/*###############################################*//*###############################################*//*###############################################*/
/*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*//*page-vorstandschaft*/
/*###############################################*//*###############################################*//*###############################################*/
.page-foerderverein .bg {background-color: #0A246A;color: white}

.page-foerderverein .col-md-8 div{max-width: 100%}
.page-foerderverein .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;word-wrap: break-word;}
.page-foerderverein .col-md-8 ul{list-style: none;overflow: hidden}
.page-foerderverein .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;}
.page-foerderverein .col-md-8 ul li:before{content: '//';color: #0A246A;margin-right: 20px}
.page-foerderverein .bg .col-md-8 ul li:before{content: '//';color: black}
.page-foerderverein .col-md-8 ul li a{color: black}
.page-foerderverein .bg .col-md-8 ul li a{color: white}
.page-foerderverein  .col-md-8 ul li a:hover{opacity: .7}
.page-foerderverein .col-md-8 hr{display: inline-block;
    width: 100%;margin-bottom: 30px}

.page-foerderverein article {padding-top: 5%;padding-bottom: 5%}
.page-foerderverein  .foerderverein img{aspect-ratio: 3/4; width: 100%; object-position: center; object-fit: cover}
/*###############################################*//*###############################################*//*###############################################*/
/*page-vereinsheim*/
/*###############################################*//*###############################################*//*###############################################*/
/*.page-vereinsheim .header-bild{margin-bottom: 30px}
.page-vereinsheim article {padding: 40px 0}
.page-vereinsheim h4{text-align: center}
.page-vereinsheim{text-align: left}
.page-vereinsheim .einstiegstext div{text-align: center}
.page-vereinsheim .einstiegstext a {margin: 20px;}
.page-vereinsheim .einstiegstext .icons img{  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  /*  filter: grayscale(100%);}
.page-vereinsheim .einstiegstext .icons img:hover{-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(0%);}
.page-vereinsheim .col-lg-6 p{text-align: left}
.page-vereinsheim .col-lg-6 {margin-bottom: 20px}
.page-vereinsheim h5{color: black;text-align: left}
.page-vereinsheim ul li{list-style: none}
.page-vereinsheim hr{display: inline-block;width: 50%}
.page-vereinsheim hr.fotos{width: 200px;display: block}

.page-jugendleitung article:nth-child(2n){
    background-color: #0A246A;
    color: white;
}
.page-jugendleitung article:nth-child(2n) h5{
    color: white;
}
.page-jugendleitung article hr:nth-child(2n){
    border-color: black;
    color: white;
}*/

.page-jugendleitung .bg {background-color: #0A246A;color: white}

.page-jugendleitung .col-md-8 ul{list-style: none}
.page-jugendleitung .col-md-8 div{max-width: 100%}
.page-jugendleitung .col-md-8 ul li{font-size: 1.4rem;margin-bottom: 6px;word-wrap: break-word;}
.page-jugendleitung .col-md-8 ul li:before{content: '//';color: #0A246A;margin-right: 20px}
.page-jugendleitung .bg .col-md-8 ul li:before{content: '//';color: black}
.page-jugendleitung .col-md-8 ul li a{color: black}
.page-jugendleitung .bg .col-md-8 ul li a{color: white}
.page-jugendleitung  .col-md-8 ul li a:hover{opacity: .7}
.page-jugendleitung .col-md-8 hr{display: inline-block;
    width: 100%;margin-bottom: 30px}

.page-jugendleitung article {padding-top: 5%;padding-bottom: 5%}

    /*###############################################*//*###############################################*//*###############################################*/
/*page-mannschaften*/
/*###############################################*//*###############################################*//*###############################################*/
.page-mannschaften .mannschaften img{width: 100%; aspect-ratio: 21/9; object-fit: cover}
.page-mannschaften .mannschaften h2{margin-top: 30px }

.page-mannschaften .mannschaften .col-md-12{margin-bottom: 20px;}
/*.page-mannschaften .mannschaften .figcaption{*/
/*    position: absolute;bottom: 30px;*/
/*    z-index: 6; ; padding: 20px 35px !important; background-color: rgba(10,36,106,.8)}*/
.page-mannschaften .mannschaften .figcaption h5{font-size: 2rem;margin: 0 !important}
/*###############################################*//*###############################################*//*###############################################*/
/* page-mannschaft *//* page-mannschaft*//* page-mannschaft*//* page-mannschaft*//* page-mannschaft*//* page-mannschaft*//* page-mannschaft */
/*###############################################*//*###############################################*//*###############################################*/

.mannschaft .container{overflow: hidden}
.mannschaft img{ aspect-ratio: 21/9; object-fit: cover; object-position: center}
.mannschaft .container .ud_gallery{max-width: 100%;padding-left: 0px ;padding-right: 0px}
.mannschaft .nav1{background-color:rgba(10,36,106,.9);  position: sticky;top: 0;
    z-index: 5;padding: 15px;
}
.mannschaft p{text-align: center}
 .mannschaft .nav1 ul{list-style: none;margin: 0;padding: 0}
.mannschaft  .nav1 li{display: inline-block;margin: 10px}


.mannschaft .nav1 li a{color: white;padding: 10px}
.mannschaft .nav1 li .active{border-bottom: white 1px solid
}
.mannschaft .ud_gallery:hover{cursor: pointer; }
.mannschaft .daten ul{color: black;list-style: none}
.mannschaft .daten ul {font-size: 1.3rem;line-height: 2rem}

 #widget1{text-align: center}
.mannschaft .trainer {background-color: white;padding: 30px 0px}

.mannschaft .trainer .col-md-8 div{
    max-width: 100%}
.mannschaft .trainer img{aspect-ratio: 3/4; object-position: center; object-fit: cover}

.mannschaft .col-md-8 ul li{word-wrap: break-word;}
.mannschaft .trainer article{padding: 30px 0;}
.mannschaft .trainer h3{color: black}
.mannschaft .trainer h2{color: black;}
.mannschaft .trainer ul li:before{content: '//';color: #0A246A;margin-right: 20px;}
.mannschaft .trainer ul li a{color: black;word-wrap: break-word;}
.mannschaft .trainer ul li a:hover{opacity: .7}
.mannschaft .trainer .row hr{display: inline-block;
    width: 100%;margin-bottom: 30px;border-top: 3px solid #0A246A }
.mannschaft .trainer .bg {background-color: #0A246A}
.mannschaft .trainer .bg li{color: white}
.mannschaft .trainer .bg h3{color: white}
.mannschaft .trainer .bg li a{color: white}
.mannschaft .trainer .bg hr{border-color: black}
.mannschaft .trainer .bg ul li:before{content: '//';color: black;margin-right: 20px}

.mannschaft .trainer figure{text-align: center}

/*###############################################*//*###############################################*//*###############################################*/
/* page-kontakt*//* /* page-kontakt*//* page-kontakt*//* page-kontakt*//* page-kontakt*//* page-kontakt*//* page-kontakt*/
/*###############################################*//*###############################################*//*###############################################*/
.page-kontakt section{overflow: hidden;margin-bottom: 30px}
.page-kontakt input{margin-bottom: 20px}
.page-kontakt .col-md-6,.page-kontakt .col-md-12{text-align: center}
.page-kontakt label,.page-kontakt textarea,.page-kontakt input[type="text"],.page-kontakt input[type="email"],.page-kontakt input[type="website"]{width:100%}
.page-kontakt label abbr[data-original-title], abbr[title]{text-decoration: none;cursor: initial}
.page-kontakt input.btn{margin-bottom: 30px}
.page-kontakt input.btn:hover{background: #0A246A}

.page-kontakt .kontakt{padding-top: 50px}
.page-kontakt main ul{list-style: none}
.page-kontakt main ul li{font-size: 1.4rem;margin-bottom: 6px;word-wrap: break-word;}
.page-kontakt main ul li:before{content: '//';color: #0A246A;margin-right: 20px}


.honeypot {
    position: absolute;
    left: -9999px;
}
.bounce {
    -moz-animation: bounce 3s infinite;
    -webkit-animation: bounce 3s infinite;
    animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    40% {
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }
    60% {
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        transform: translateY(-15px);
    }
}
@media (max-width: 769px) {
    .news .col-md-6{margin-bottom: 20px}
    .mannschaft iframe{width: 100% !important}

    .page-home .mannschaften{padding: 0px 0;overflow-x: hidden}
    .page-mannschaften .mannschaften .col-md-6 h5{position: relative}

    /*.header-bild .figcaption ,.header-bild-mannschaft .figcaption{padding: 10px 50px 10px 20px;}*/
    /*.header-bild .figcaption h3,.header-bild-mannschaft .figcaption h3{font-size: 3rem}*/
/**/
}


@media (max-width: 992px) {
    .page-home .mannschaften .row .col-md-12{margin-bottom: 20px}
    .page-home .countup .row .col-lg-3{
        margin: 5px 00px !important;
    }
    .page-home .verein .figcaption{padding: 15px 20px !important;}
    .page-home .mannschaften .figcaption{padding: 20px 30px !important;}

    .page-geschichte .geschichte h3{text-align: center}
    .page-geschichte .geschichte img{width: 95% !important}

}

@media (max-width: 576px) {
    h1{font-size: 2.5rem !important}
    h2{font-size: 2.2rem}
    .header-bild .figcaption{padding-left: 30px}
    .page-home .countup .row .col-lg-3{
        margin: 5px 30px !important;
    }
    .mannschaft .daten ul{padding: 0}
    .geschichte .anker-nav ul li {
        list-style: none;
        padding: 10px;
        display: inline-block;
        width: 50%;
        float: left;
        text-align: center;}
    .mannschaft .nav1{padding: 0;position: relative;
        width: 100%;}
    .mannschaft .nav1 li {
        display: inline-block;
        margin: 30px 0px;
        width: 50%;
        text-align: center;
        float: left;}
    .figcaption{
        position: relative; bottom: 0}
    .header-bild .figcaption{
        position: relative; bottom: 0; text-align: center}
}
